<IMG style="position: absolute; top: 30px; left: 30px; " src="images/Contabil.png" border="0" align="absmiddle" />

<div style="position: absolute; overflow: hidden; top: 50%; left: 50%; margin-left: -228px; margin-top: -113px; background-image: url(resources/images/performer/login/login_cpf); background-repeat: no-repeat; width: 456px; height: 226px;">
	<div style="position: absolute; top: 50%; left: 50%; margin-left: 0px; margin-top: -43px; width: 152px;">{0}</div>
	<div style="position: absolute; top: 50%; left: 50%; margin-left: 0px; margin-top: -10px; width: 152px;">{1}</div>
	<div style="position: absolute; top: 50%; left: 50%; margin-left: 79px; margin-top: 20px; width: 73px;">{2}</div>
</div>
